.header {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.my_danger {
    color: red;
}

.my_go {
    color: green;
}

.challenge{
    border-style: solid;
    border-color: black;
    border-width: 1px;

    max-width: 80%;
    height: 80%;
    margin-left: auto;
    margin-right: auto;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.button-container {
    
    display: flex;
    flex-direction: row;
    justify-content: center;
  
}

.button-container button {
    margin: 20px;
}

